* {
   border: 0;
   margin: 0;
   padding: 0;
}

img {
   border-radius: 10px 10px 0 0;
   width: 100%;
}

/* Info personajes */

.card-content {
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.cards {
   margin: .8rem;
   border-radius: 12px;
   text-align: center;
   -webkit-box-shadow: 10px 10px 25px -2px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 25px -2px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 25px -2px rgba(0,0,0,0.75);
   transition: ease-in .1s;
}

.cards:hover {
   transform: scale(1.05);
}

.boton-mas {
   border-radius: 10px;
   margin-bottom: .8rem;
   background: #ffffff;
   box-shadow:  7px 7px 15px #adadad, 
                -7px -7px 15px #ffffff;
}

.boton-mas:hover {
   background: #ffffff;
   box-shadow: inset 7px 7px 15px #adadad, 
            inset -7px -7px 15px #ffffff;
}



@media( min-width: 768px) {
   .card-info {
      text-align: center;
      margin: auto;
      max-width: 70%;
   }
}